<% include ../partials/loginheader %>
<% include ../partials/navbar %>
<% include ../partials/adminSidebar %>

    <div class="col-md-9 admin-opt">
        <br>
        <h1 class="google-sans live-caption">Admin menu<span class="add-live"></span></h1>
        <hr>
        <div class="live-load">
            <div class="row">
                <div class="col-md-6 col-sm-6 box-menu">
                    <a href="/admin/adduser"><div style="background: #FFC107;">Add User</div></a>
                </div>
                <div class="col-md-6 col-sm-6 box-menu">
                        <a href="/admin/addsubadmin"><div style="background: rgb(23, 7, 255);">Add Sub Admin</div></a>
                </div>
                <div class="col-md-6 col-sm-6 box-menu">
                    <a href="/admin/credits"><div style="background: #FF5722;">Update User Credits</div></a>
                </div>
                <div class="col-md-6 col-sm-6 box-menu">
                    <a href="/admin/subcredits"><div style="background: rgb(34, 255, 226);">Update Sub Admin Credits</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>