
<% include ../partials/loginheader %>
<% include ../partials/navbar %>
<% include ../partials/adminSidebar %>

<div class="col-md-9 admin-opt">
    <br>
    <h1 class="google-sans live-caption">Admin menu<span class = 'roboto weight-300' style = 'font-size: 0.8em'>  | Add User </span></h1>
    <hr>
    <div class="live-load">
        <div class="container forms" style="width:94%; text-align: center">
                <form action="/subadmin/addsubadmin"  method="post" onsubmit="return validate()">
                    Username : <input type="text" name="username" id="username"> 
                    <br><br>
                    Password : <input type="password" name="password" id="password">
                    <br><br>
                    Phone No. : <input type="text" name="phone" id="phone" required>
                    <br><br>
                    <p name="msg" id="msg"></p>
                    <button class="sb-user-btn" >Add User</button>
                </form>
                <% if(postQuery === 1) { %>
                <% if(newuserAdded === false) {%>
                <p class="user-result"> <%= userAdded %> could not be added.</p>
                <% } else { %>
                <p class="user-result"> <%= userAdded %> added successfully</p>
                <% }} %>
        </div>
    </div>
</div>

<script src="/scripts/admin.js"></script>

<% include ../partials/footer %>