<% include ../partials/loginheader %>
<% include ../partials/navbar %>
<% include ../partials/subadminSidebar %>

    <div class="col-md-9 admin-opt">
        <br>
        <h1 class="google-sans live-caption">Admin menu<span class="add-live"></span></h1>
        <hr>
        <div class="live-load">
            <div class="row">
                <div class="col-md-4 col-sm-4 box-menu">
                    <a href="/subadmin/adduser"><div style="background: #FFC107;">Add User</div></a>
                </div>
                <!-- <div class="col-md-4 col-sm-4 box-menu">
                        <a href="/admin/addsubadmin"><div style="background: rgb(23, 7, 255);">Add Sub Admin</div></a>
                </div> -->
                <div class="col-md-4 col-sm-4 box-menu">
                    <a href="/subadmin/credits"><div style="background: #FF5722;">Update credits</div></a>
                </div>
                <!-- <div class="col-md-4 col-sm-4 box-menu">
                    <a href="#"><div style="background: #9C27B0;">Game Logs</div></a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>