<% include partials/header %> 


<div class="loginBox">
     
    <form action='/auth/login' method='POST'  onsubmit="return check(this)">
        <img src="/assets/images/5.png" class="user1">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--<p>Username</p>-->
                    <input type="text" name = "username" placeholder="username"> 
            </div>
        </div>                                                                                                                                                                       
        <div class="row">   
            <div class="col-md-12 col-sm-12 col-xs-12">
                   <!-- <p>Password</p>-->
                    <input  type="password" name = "password" placeholder = "password" autocomplete="new-password">             
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <span>By Clicking Login,<strong>You Agree To Our Terms And Condition.</strong></span>
          </div>
    </div><br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="submit" name=""  value="Login" class="log">
        </div>
    </div>
      
</form>

</div>

<br>
<br>
<%include partials/footer %>