<% include ../partials/loginheader %>
<% include ../partials/navbar %>
<% include ../partials/adminSidebar %>

    <div class="col-md-9 admin-opt">
        <br>
        <h1 class="google-sans live-caption">Admin menu<span class="add-live"></span></h1>
        <hr>
        <div class="live-load">
            <div class="row">
                <div class="col-md-4 col-sm-4 box-menu">
                    <div style="background: #FFC107;">Add User</div>
                </div>
                <div class="col-md-4 col-sm-4 box-menu">
                        <div style="background: #FFC107;">Add Sub admin</div>
                </div>
                <div class="col-md-4 col-sm-4 box-menu">
                    <div style="background: #FF5722;">Update credits</div>
                </div>
                <div class="col-md-4 col-sm-4 box-menu">
                    <div style="background: #9C27B0;">Game Logs</div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>