<div class="container" style="width:94%">
    <form action ="/admin/changepass" method = "post">
        Old password : <input class="change-admin-input" name="oldpass" type="text" placeholder="Old Password">
        Change password : <input class="change-admin-input" name="oldpass" type="text" placeholder="New Password">
        Retype password : <input class="change-admin-input" name="oldpass" type="text" placeholder="Old Password">
    </form>
</div>

