<% include ../partials/loginheader %> 
    <div class="container-fluid padding20">
        <div class="col-md-3 sidebar">
            <div class="user-profile">
                <div class="user-image"></div>
                <div class="uname"><%= user.fname+" "+ user.sname %></div>
                <div class="secondary"><%= user.email %></div>
                <div class="secondary"><%= user.username %></div>
            </div>
            <hr>
            <button>

            </button>
            <div class="user-menu">

            </div>
            <div class="user-menu">

            </div>
        </div>
        <div class="col-md-6 main-content">

        </div>
        <div class="col-md-3 message-bar">

        </div>
    </div>
<%include ../partials/footer %>